@model IEnumerable<DB.Product>

@{
    ViewBag.Title = "Корзина";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sections section-2" id="fotopech">
    <div class="container">
        <div class="row">
            <form action="/" method="post">
            <table class="table">


                @foreach (var item in Model)
                {
                    <tr>
                        @try
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        }
                        catch (Exception)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                    </tr>
                }

            </table>
            </div>
        <input type="submit" name="name" value="Оформить заказ" />
        </form>
</div>
</div>