@{
    ViewBag.Title = "Контакты";
}
<style>
    .felial{
        text-align:center;
    }
</style>
<div class="sections section-2" id="fotopech">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>НАШ АДРЕС</h2>
                <address>
                    Захарова, 26<br />
                    Гродно, 230025<br />
                    <abbr title="Телефон">Телефон:</abbr>
                    8-0152-754741
                </address>

                <address>
                    <strong>Support:</strong>   <a href="mailto:info@fotocenter.by">info@fotocenter.by</a><br />
                </address>
            </div>
            <div class="col-md-6">
                <h2>Время работы</h2>
                <p>Понедельник - Вторник: 8.30 - 20.00</p>
                <p>Суббота - Воскресенье: 9.00 - 18.00</p>
            </div>
            <div class="felial col-md-12">
                <h2>Наши фелиалы:</h2>
            </div>
         </div>
    </div>
</div>