
@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section id="top" class="one dark cover">
    <div class="container">

        <header>
            <h2 class="alt">Главная страцница администратора</h2>

        </header>

        <footer>
            <a href="../" class="button scrolly">Сайт</a>
        </footer>

    </div>
</section>